{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Atualizar status{% endblock %}


{% block breadcrumbs %}
    <li><a href="{% url 'tickets:list' %}">Tickets</a></li>
    <li><a href="{% url 'tickets:view' ticket.pk %}">{{ ticket }}</a></li>
    <li class="active">Novo status</li>
{% endblock %}

{% block content %}

    <div class="row">

        <div class="col-md-12">

            <div class="widget stacked">

                <div class="widget-header">
                    <i class="icon-ticket"></i>
                    <h3>Novo status: {{ status }}</h3>
                </div>

                <div class="widget-content">
                    <form method="post" class="form-horizontal">
                        {% csrf_token %}

                        <div class="col-md-12">
                            <h4><strong>#{{ ticket.identifier }}</strong>: {{ ticket }}</h4>
                        </div>

                        {% if form.non_field_errors %}
                            <div class="alert alert-danger">
                                {{ form.non_field_errors.as_text }}
                            </div>
                        {% endif %}

                        {% for hidden in form.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}

                        <!-- note field -->
                        <div class="form-group {% if form.note.errors %}has-error{% endif %}">
                            {% if form.note.errors %}
                            <div class="col-sm-10 col-sm-offset-2">
                                <div class="text-danger" role="alert">
                                    {{ form.note.errors.as_text }}
                                </div>
                            </div>
                            {% endif %}
                            <label class="col-sm-2 control-label" for="{{ form.note.id_for_label }}">{{ form.note.label }}</label>
                            <div class="col-sm-6">
                                {{ form.note }}
                                <span class="help-block m-b-none">{{ form.note.help_text }}</span>
                            </div>
                        </div>
                        <!-- // end of: note field -->
                        <!-- start_date field -->
                        <div class="form-group {% if form.start_date.errors %}has-error{% endif %}">
                            {% if form.start_date.errors %}
                            <div class="col-sm-10 col-sm-offset-2">
                                <div class="text-danger" role="alert">
                                    {{ form.start_date.errors.as_text }}
                                </div>
                            </div>
                            {% endif %}
                            <label class="col-sm-2 control-label" for="{{ form.start_date.id_for_label }}">{{ form.start_date.label }}</label>
                            <div class="col-sm-2">
                                {{ form.start_date }}
                                <span class="help-block m-b-none">{{ form.start_date.help_text }}</span>
                                <a href="#" id="today_shortcut">Hoje</a>
                            </div>
                        </div>
                        <!-- // end of: start_date field -->
                         <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <button type="submit" class="btn btn-default block full-width m-b">Salvar</button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>

        </div>

    </div>


{% endblock %}

{% block js %}

    <script type="text/javascript">
        $(document).ready(function() {
            $("#id_start_date").datepicker().mask("99/99/9999");
            $("#today_shortcut").click(function(e) {
                e.preventDefault();
                var time = new Date();
                $('#id_start_date').val(time.toLocaleFormat("%d/%m/%Y"));
            });
        });
    </script>

{% endblock %}
